@model Library.ViewModel.Patron.PatronIndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h3><a asp-area="" asp-controller="Patron" asp-action="Create" class="btn btn-primary">Add Students</a></h3>
<div id="patronIndex">
    <table class="table table-responsive " id="patronIndexTable">
        <thead>
            <tr>
                <th>Profile Link</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Library Card Id</th>
                
               
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patron in Model.Patrons)
            {
                <tr>
                    <td id="patronIcon"><a asp-controller="Patron" asp-action="Detail" asp-route-id="@patron.Id"><span class="glyphicon glyphicon-user"></span></a></td>
                    <td>@patron.LastName</td>
                    <td>@patron.FirstName</td>
                    <td>@patron.LibraryCardId</td>
                    
                    
                    <td><a asp-controller="Patron" asp-action="Edit" asp-route-id="@patron.Id" class="btn btn-info">Edit</a></td>
                    <td><a asp-controller="Patron" asp-action="Delete" asp-route-Id="@patron.Id" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script>
        $(document).ready(function () {
            $('#patronIndexTable').DataTable();
        });</script>
}